
<form action="/Search" method="post">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
        <span>
            <input type="radio"
                   name="searchType"
                   id="@column.Key"
                   value="@column.Key"
                   checked="@column.Key.Equals("location")" 
                   checked="@column.Key.Equals(ViewBag.searchType)" />

            @*checked="@column.Key.Equals("location")" />*@

            <label for="@column.Key">@column.Value</label>
        </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />


@if (ViewBag.results != null)
{
    <h3>@ViewBag.results.Count Result(s)</h3>

    @foreach (Dictionary<string, string> jobDict in ViewBag.results)
    {
        <table class="job-listing">
            @foreach (KeyValuePair<string, string> job in jobDict)
            {
                <tr>
                    @* Second Word?  *@
                    <td>@(char.ToUpper(job.Key[0]) + job.Key.Substring(1))</td>
                    <td>@job.Value</td>
                </tr>
            }
        </table>
    }

}
